.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 64px - 65px);
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

	.content {
		text-align: center;
		color: #fff;

		.top {
			font-size: 50px;
			font-weight: bold;
		}

		.center {
			font-size: 22px;
		}
	}
}